/*My color scheme stayed consistent of white, orange, and saddlebrown
to stay consistent with my background / logo. As to complement the steampunk
imagery.                        */

*{
    margin: 0;
    padding: 0;
    font-family: "Metamorphous", serif;

}


body.home{
    background-image: url(./images/background.png);
    margin: auto;
}

.thePugPub{
    display: none;
}

body {
    background-image: url(./images/background2.png);
    .header1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigationbar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        line-break: auto;

    }

}

body_2 {
    .header1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 2em;
        text-align: center;
        color: white;
        background-color: #8B4513BF;
        margin-left: 4em;
        margin-right: 4em;
        margin-bottom: 2em;
    }


    .Appetizers{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 30px;
        table-layout: auto;
        margin-bottom: 20px;

    }
    .Appetizers td{
        text-align: left;
        font-weight: bold;
        font-size: 40px;
        background-color: #8B4513BE;

    }
    .Appetizers td:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .Entrees{
        position:relative;
        max-width: 1100px;
        margin: 40px auto;
        padding: 0 220px;
        background: url("./images/image (1).jpg") left center/400px auto no-repeat , url("./images/image.jpg") right center/400px auto no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 30px;
        table-layout: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .Entrees td{
        text-align: left;
        font-weight: bold;
        font-size: 40px;
        background-color: #8B4513BE;

    }
    .Entrees td:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .entreeCaption{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 30px;
    }


}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
ul li{
    float: left;
    border: azure 1px solid ;
    font-size: 30px;
    border-radius: 8em;
    background-color: saddlebrown;
}
ul li a{
    display: flow;
    display: flow;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 40px;
}
ul li a:hover{
    background-color: #FFB174BF;
    border-radius: 8em;
    color: black;

}

.mealType{
    gap: 2em;
    margin: 1em;
    text-align: center;

}

.resHead{
    display: flex;
    justify-content: center;
    font-size: 1em;
}
.resCaption{
    font-size: 2em;
    text-align: center;

}

form{
    font-family: "Metamorphous", serif;
    width: 30em;
    height: 40em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-flow: column wrap;
    font-size: 2em;
    background-color: #8B4513BE;
    color: white;
    padding: 20px;
    margin: 0 auto;
    text-shadow: 3px 5px 3px black;
    align-content: center;
    box-shadow:  5px 5px 10px black;
}




.fa-regular{
    color: white;
    display: inline;
    margin-right: 10px;
}



.dietaryTextBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5em;
    width: 50%;
}

.seatingBox{
    font-size: 30px;
    text-spacing: auto;
    margin-right: 3em;
    margin-top: .5em;
    margin-bottom: .5em;
    display: flex;
    justify-content: left;
    align-items: center;
}

.buttonBox{
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.buttons{
    font-size: .5em;
    display: inline;
    justify-content: left;
    align-items: flex-end;
    height: 6em;
    width: 8em;
}
.buttons:hover{
    background-color: #FFB174BF;
}

.heroSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20em;
    margin-right: 20em;
    border: #FFB174BF;
    border-radius: 10px;
}

.hero{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 5em;
    text-shadow: 3px 5px 10px black;


}

.heroBackground{
    background-color: #8B451399;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;

}

.menuPics{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50em;
}

